html { 
    overflow: auto; 
    overflow-x: hidden; 
    overflow-y: auto;
} 


body{
    background-image: url("https://d2w9rnfcy7mm78.cloudfront.net/11618225/original_e579588fb0009548376bb6fbf7423c02.png?1618625283?bc=0");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    display: block;
    margin: 0 auto;
    overflow: auto; 
    overflow-x: hidden; 
    overflow-y: auto; 
   
    }


    #blink {
        position: absolute;
        top: 45%;
        left: 10%;
        font-size: 12vw;
        font-weight: bold;
        color:whitesmoke;
        outline-color: red;
        transition: 2.5s;
        text-align: center;
        font-family: 'Righteous', cursive;
    }



#jyj{
position: fixed;
width: 16vw;
top: 1%;
right: 27%;
padding: 0;
}



#abrir{
    position: fixed;
    width: 10vw;
    top: 1%;
    left: 30%;
    padding: 0;
    }
    

    
#nft{
    position: fixed;
    width: 14vw;
    top: 6%;
    right: 16%;
    padding: 0;
    }



